<!DOCTYPE html>
<style type="text/css">
   body { background: gray !important; }
</style>

<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Amazing Urls</title>
  </head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a	class="nav-link active"
									aria-current="page"
									href="http://127.0.0.1:8000/"
									>Strona główna
                                </a></li>
							<li class="nav-item">
                              	<a	class="nav-link active"
									aria-current="page"
									href="http://127.0.0.1:8000/add"
									>Dodaj Filmik
                                </a></li>
								<li class="nav-item">
								<a	class="nav-link active"
									aria-current="page"
									href="http://127.0.0.1:8000/opis"
									>Twórcy
                                </a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			{% block page_content %}{%endblock%}
		</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">

</script>

	</body>
</html>
