{% extends 'index.html' %} {% load embed_video_tags %}{% load rest_framework %}
{% block page_content %}

	<div style ="color: white" class="col-md-8">
<h1 style ="color: white">
  {{ data.name }}
</h1>
        {% video data.url "medium" %}
<form  action="{% url 'data-detail' pk=data.pk %}" method="POST">
    {% csrf_token %}
    {% render_form serializer %}
    <input type="submit" value="Zapisz">
</form>
<form action="{% url 'data-delete' pk=data.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Usuń">
</form>
</div>
{%endblock%}
